body {
	overflow	: hidden;
}

.dialog {
	color: black;
	background-color: white;
	padding: 3.44%;
	border-radius: 1em;
}
.parameters td {
	padding: 0 0.5em 0 0.5em;
    font-weight:bold;
    vertical-align:text-top;
}
.controls.details button {
	width: 100%;
	text-align:left;
}
.controls.summary button {
    margin-right: -2px !important;
    margin-left: -2px !important;
}
.instructions {
	color: grey;
	font-style: italic;
	font-size: 61%;
	float:right;
	padding-left:1em;
}
.info a {
	color: grey;
	text-decoration	: none;
}
.info a:hover {
	text-decoration	: underline;
}