body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #BBB;
	font-family	: arial;
	font-size	: 100%;
}

#info .top {
	color       : white;
	position	: absolute;
	top		    : 5px;
	right		: 5px;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	color       : grey;
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}
