body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color       : white;
	font-family : Helvetica, Arial, sans-serif;
	font-size	: 100%;
}

summary
{ 
	font-size: 138%; 
    font-weight:bold;
}
details
{
	margin-top: 1.315%	
}
details p 
{ 
	margin-left: 1.315%; 
}

.info .topleft {
	position	: absolute;
	top		    : 1em;
	left		: 1em;
}
.info .topright {
	position	: absolute;
	top		    : 1em;
	right		: 1em;
    font-weight:bold;
}
.info .bottomright {
	color       : grey;
	position	: absolute;
	bottom		: 0em;
	right		: 1em;
}
.info a {
	color: grey;
	text-decoration	: none;
}
.info a:hover {
	text-decoration	: underline;
}
.info td {
	padding: 0 0.5em 0 0.5em;
}

.header {
    font-weight:bold;
}
.header a {
	color : white;
	text-decoration	: none;
}
.header a:hover {
	text-decoration	: none;
}
.header h1
{
	font-family: Garamond, Hoefler Text, Free Serif, serif;
	font-size: 261%;
	margin-bottom: 0.502%; 
	margin-top: 0.502%;
}
.navigation
{
	font-size: 76.3%;
	margin-left: 23.6%;
	width: 161%;
}
.navigation a:hover {
	color: grey;
	text-decoration	: none;
}
