summary { 
	font-size: 138%; 
    font-weight:bold;
}
details {
	margin-top: 1.315%	
}
details p { 
	margin-left: 1.315%; 
}

.topleft {
	position	: absolute;
	top		    : 1em;
	left		: 1em;
}
.topright {
	position	: absolute;
	top		    : 1em;
	right		: 1em;
    font-weight:bold;
}
.bottomright {
	color       : grey;
	position	: absolute;
	bottom		: 0em;
	right		: 1em;
}
.bottomleft {
	position	: absolute;
	bottom		: 0em;
	left		: 1em;
}
.hcenter {
	width: 61.8%;
	margin-left: auto;
	margin-right: auto;
}
.hcenter h2{
	text-align:center;
}
.vcenter {
	position: absolute;
	top: 23.6%;
}
.hidden {
	display:none;
}

.article{
	position: absolute;
	top:   23%;
	right: 3.44%;
	width: 61.8%;
	padding: 3.44%;
	border-radius: 1em;
}