<!doctype html>
<html>
<head>
    <title>solar system test model</title>
    <!--If using any IE, don't even bother-->
    <!--[if IE]>
        <meta http-equiv="refresh" content="0;url=ie.html" />
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="text/css" href="blog/icon6.png">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/bootstrap.custom.css">
    <link rel="stylesheet" href="../styles/main.css"/>
    <link rel="stylesheet" href="../styles/app.css"/>

    <script src="../libraries/vue.js"></script>
    <script src="../libraries/jquery-1.10.2.min.js"></script>
    <script src="../libraries/bootstrap.js"></script>
    <script src="../libraries/three.js/Three.js"></script>
    <script src="../libraries/three.js/Stats.js"></script>
    <script src="../libraries/three.js/OrbitControls.js"></script>
    <script src="../libraries/three.js/BufferGeometryUtils.js"></script>
    <script src="../libraries/threex/THREEx.FullScreen.js"></script>
    <script src="../libraries/threex/THREEx.WindowResize.js"></script>
    <script src="../libraries/random-0.26.js"></script>
    <script src="../postcompiled/Rasters.js"></script>
    <script src="../noncompiled/Units.js"></script>
    <script src="../noncompiled/academics/OrbitalMechanics.js"></script>
    <script src="../noncompiled/models/universe/Orbit.js"></script>
    <script src="../noncompiled/models/universe/Spin.js"></script>
    <script src="../noncompiled/models/universe/CelestialCycle.js"></script>
    <script src="../noncompiled/models/universe/Universe.js"></script>
</head>
<body>
<!-- three.js container -->
<div id="container"></div>

<div id="controls" style="width:200px;" >
    <div class="input-group season-group" v-for="(value, key) in state">
        <span class="input-group-addon">
            {{key}}
        </span>
        <span class="form-control input-sm">
            <input type="range" min="0" max="6.28" step="0.01" 
                v-model="state[key]" v-on:input="reset"/>
        </span>
    </div>
</div>

<script type="x-shader/x-vertex" id="particle-vertex-shader">
    varying vec3 vColor;
    varying vec3 position_v;
    attribute float radius;
    attribute vec3 color;
    const float sun_radius = 695e6; //meters

    //USER_INPUT_GOES_HERE

    void main() {
        position_v = position;
        vColor = color;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.);
        gl_PointSize = 10. * log(radius)/log(sun_radius);
    }
</script>
<script type="x-shader/x-fragment" id="particle-fragment-shader">
    const float PI = 3.1415926;

    varying vec3 position_v;
    varying vec3 vColor;

    //USER_INPUT_GOES_HERE

    void main() {
        gl_FragColor = vec4(vColor,1);
    }
</script> 
<!-- logo -->
<script type="text/javascript">
    'use strict';
    
    var scene, renderer, composer, clock;
    var camera, controls;

    // colors from http://colorhunt.co/blog/solar-system-stars-color-palettes/
    var bodies = {
        sun:     { id: 'sun',        color: 0xffff00,    radius: 695e6, },
        mercury:{ id: 'mercury',    color: 0x888888,    radius: 2.4e6, },
        venus:     { id: 'venus',    color: 0xeecb8b,    radius: 6.1e6, },
        earth:     { id: 'earth',    color: 0x182A61,    radius: 6.3e6, },
        moon:     { id: 'moon',        color: 0x888888,    radius: 1.7e6, },
        mars:     { id: 'mars',        color: 0x4c0803,    radius: 3.4e6, },
        jupiter:{ id: 'jupiter',    color: 0xc1844d,    radius:  71e6, },
        saturn: { id: 'saturn',    color: 0xe0cdad,    radius:  60e6, },
        uranus: { id: 'uranus',    color: 0xc7edf0,    radius:  25e6, },
        neptune: { id: 'neptune',    color: 0x537cfe,    radius:  24e6, },
    };
    var universe = new Universe({
        stars:  bodies,
        worlds: bodies,
        cycles: {
            'Galactic Orbit': {
                id: 'Galactic Orbit',
                motion: { 
                    type: 'orbit',
                    semi_major_axis: 2.35e20,
                    effective_combined_mass: 1.22e56, // kg,  back calculated to achieve period of 250 million years
                },
                body: 'sun',
                children: [
                    'Mercurial Orbit',
                    'Venerean Orbit',
                    'Earth Orbit',
                    'Martian Orbit',
                    'Jovian Orbit',
                    'Saturnian Orbit',
                    'Uranian Orbit',
                    'Neptunian Orbit',
                ]
            },
            'Mercurial Orbit': {
                id: 'Mercurial Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 0.387*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.205,
                    inclination: Math.PI * 7./180,
                    longitude_of_ascending_node: Math.PI * 48/180,
                    effective_combined_mass: 2e30, // kg
                },
                parent: 'Galactic Orbit',
                children: ['Mercurial Spin'],
            },
            'Mercurial Spin': {
                id: 'Mercurial Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*24*58.5),
                    axial_tilt: Math.PI * 0.01/180,
                },    
                parent: 'Mercurial Orbit',
                body: 'mercury',
            },
            'Venerean Orbit': {
                id: 'Venerean Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 0.723*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.0067,
                    inclination: Math.PI * 3.4/180,
                    longitude_of_ascending_node: Math.PI * 76/180,
                    effective_combined_mass: 2e30, // kg
                },
                parent: 'Galactic Orbit',
                children: ['Venerean Spin'],
            },
            'Venerean Spin': {
                id: 'Venerean Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*24*243),
                    axial_tilt: Math.PI * 177.4/180,
                },    
                parent: 'Venerean Orbit',
                body: 'venus',
            },
            'Earth Orbit': {
                id: 'Earth Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 1.*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.0167,
                    inclination: Math.PI * 5e-5/180,
                    longitude_of_ascending_node: Math.PI * -11/180,
                    effective_combined_mass: 2e30, // kg
                },
                parent: 'Galactic Orbit',
                children: ['Earth Precession', 'Lunar Orbit'],
            },
            'Earth Precession': {
                id: 'Earth Precession',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(10e3*Units.YEAR),
                },    
                parent: 'Earth Orbit',
                children: ['Earth Spin'],
            },
            'Earth Spin': {
                id: 'Earth Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*24),
                    axial_tilt: Math.PI * 23.5/180,
                },    
                parent: 'Earth Precession',
                body: 'earth',
            },
            'Lunar Orbit': {
                id: 'Lunar Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 384.748e6,
                    eccentricity: 0.0554,
                    inclination: Math.PI * 5.16/180,
                    effective_combined_mass: 5.79e24, // kg
                },    
                parent: 'Earth Orbit',
                children: ['Lunar Spin'],
            },
            'Lunar Spin': {
                id: 'Lunar Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(Units.DAY*27.322),
                }, 
                parent: 'Lunar Orbit',
                body: 'moon',
            },
            'Martian Orbit': {
                id: 'Martian Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 1.52*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.093,
                    inclination: Math.PI * 1.85/180,
                    longitude_of_ascending_node: Math.PI * -49/180,
                    effective_combined_mass: 2e30, // kg
                },    
                parent: 'Martian Orbit',
                children: ['Martian Spin'],
            },
            'Martian Spin': {
                id: 'Martian Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*24.6),
                    axial_tilt: Math.PI * 25.19/180,
                },
                parent: 'Martian Orbit',
                body: 'mars',
            },
            'Jovian Orbit': {
                id: 'Jovian Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 5.2*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.048,
                    inclination: Math.PI * 1.3/180,
                    effective_combined_mass: 2e30, // kg
                    longitude_of_ascending_node: Math.PI * -100/180,
                },
                parent: 'Galactic Orbit',
                children: ['Jovian Spin'],
            },
            'Jovian Spin': {
                id: 'Jovian Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*10),
                    axial_tilt: Math.PI * 3.13/180,
                },    
                parent: 'Jovian Orbit',
                body: 'jupiter',
            },
            'Saturnian Orbit': {
                id: 'Saturnian Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 9.5*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.054,
                    inclination: Math.PI * 2.48/180,
                    longitude_of_ascending_node: Math.PI * -113/180,
                    effective_combined_mass: 2e30, // kg
                },
                parent: 'Galactic Orbit',
                children: ['Saturnian Spin'],
            },
            'Saturnian Spin': {
                id: 'Saturnian Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*10.8),
                    axial_tilt: Math.PI * 26.7/180,
                },
                parent: 'Saturnian Orbit',
                body: 'saturn',
            },
            'Uranian Orbit': {
                id: 'Uranian Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 19.19*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.047,
                    inclination: Math.PI * 0.77/180,
                    effective_combined_mass: 2e30, // kg
                    longitude_of_ascending_node: Math.PI * -74/180,
                },    
                parent: 'Galactic Orbit',
                children: ['Uranian Spin'],
            },
            'Uranian Spin': {
                id: 'Uranian Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*17.25),
                    axial_tilt: Math.PI * 97.7/180,
                },    
                parent: 'Uranian Orbit',
                body: 'uranus',
            },
            'Neptunian Orbit': {
                id: 'Neptunian Orbit',
                motion: {
                    type: 'orbit',
                    semi_major_axis: 30.06*Units.ASTRONOMICAL_UNIT,
                    eccentricity: 0.008,
                    inclination: Math.PI * 1.77/180,
                    longitude_of_ascending_node: Math.PI * -131/180,
                    effective_combined_mass: 2e30, // kg
                },    
                parent: 'Galactic Orbit',
                children: ['Neptunian Spin'],
            },
            'Neptunian Spin': {
                id: 'Neptunian Spin',
                motion: { 
                    type: 'spin',
                    angular_speed: 2*Math.PI/(60*60*16.11),
                    axial_tilt: Math.PI * 28.3/180,
                },    
                parent: 'Neptunian Orbit',
                body: 'neptune',
            },
        }
    });


    var particleGeometry    = new THREE.Geometry();
    var particleShader = new THREE.ShaderMaterial({
        vertexShader: $('#particle-vertex-shader').text(),
        fragmentShader: $('#particle-fragment-shader').text(),
        attributes: {
            radius:{
                type: 'f',
                value: []
            },
            color:{
                type: 'c',
                value: []
            },
        },
        uniforms: {},
    });

    var FOCUS = 'earth';
    var body_matrix_map = universe.body_matrices({}, bodies[FOCUS]);
    var body_index_map = {};
    var i = 0;
    for (var id in body_matrix_map) {
        body_index_map[id] = i; i++;
        var v = Matrix4x4.get_translation(body_matrix_map[id]);
        var body = bodies[id];
        particleGeometry.vertices.push( new THREE.Vector3( v.x, v.y, v.z ) );
        particleShader.attributes.color.value.push(new THREE.Color(body.color));
        particleShader.attributes.radius.value.push(body.radius);
    }
    var particleSystem = new THREE.ParticleSystem(particleGeometry, particleShader);

    if( window.WebGLRenderingContext ){
        init();
        animate();
        update();
    }

    // init the scene
    function init(){
        clock = new THREE.Clock();

        if( window.WebGLRenderingContext ){
            renderer = new THREE.WebGLRenderer({
                antialias        : true,    // to get smoother output
                preserveDrawingBuffer    : true    // to allow screenshot
            });
            renderer.setClearColor( 0x000000 );
        }else{
            Detector.addGetWebGLMessage();
            return true;
        }
        var container = $("#container").get(0);
        renderer.setSize( window.innerWidth, window.innerHeight );
        $("#container").get(0).appendChild(renderer.domElement);


        // create a scene
        scene = new THREE.Scene();

        // put a camera in the scene
        camera    = new THREE.PerspectiveCamera(35, window.innerWidth / window.innerHeight, 0.01, 1e15 );
        camera.position.set(0, 0, 400e6);
        scene.add(camera);

        // create a camera contol
        controls    = new THREE.OrbitControls( camera, $("#container").get(0) );
        controls.noPan = false;
        controls.zoomSpeed = 5.0;
        
        // transparently support window resize
        THREEx.WindowResize.bind(renderer, camera);

        // here you add your objects
        // - you will most likely replace this part by your own
        var light    = new THREE.AmbientLight(  0xffffff );
        scene.add( light );
        scene.add( particleSystem );
        // scene.add( vectorField );
    }

    // animation loop
    function animate() {
        // push to render queue and loop
        // - it has to be at the begining of the function
        // - to learn more: https://www.youtube.com/watch?v=8aGhZQkoFbQ
        requestAnimationFrame( animate );

        // update camera controls
        controls.update();

        // actually render the scene
        renderer.render( scene, camera );
    }

    function update(){
        
        //model.update();
        //view.cellUpdate(model.world()); 

    }
    var TIMESTEP = 60*60*24; // ~1 day per frame
    const seasonVue = new Vue({
        el: '#controls',
        data:{
            state:{
                'Solar System':     0,
            }
        },
        created: function() {
            var _this = this;
            setInterval(function() {
                universe.advance(_this.state, TIMESTEP, _this.state);
                _this.reset();
            }, 1000/30);
        },
        methods: {
            reset(){
                var body_matrix_map = universe.body_matrices(this.state, bodies[FOCUS]);
                for (var id in body_matrix_map) {
                    var v = Matrix4x4.get_translation(body_matrix_map[id]);
                    particleGeometry.vertices[body_index_map[id]].x = v.x;
                    particleGeometry.vertices[body_index_map[id]].y = v.y;
                    particleGeometry.vertices[body_index_map[id]].z = v.z;
                    particleGeometry.verticesNeedUpdate = true;
                    particleGeometry.dynamic = true;
                }
            },
        }
    });
</script>
</body>
</html>
