<div style="position: relative;">
<a href="index.shtml" class="icon"><img src="icon2.png" width="170em" height="170em"/></a>  
<div class="linkless header land">
    <a href="index.shtml"><h1> PyTectonics</h1></a>
    <p> 3D Plate Tectonics in Python</p>
</div>  
<div class="linkless nav tundra"><b><ul>
    <li><a href="index.shtml">HOME</a></li>
    <li><a href="screens.shtml">SCREENSHOTS</a></li>
    <li><a href="download.shtml">DOWNLOAD</a></li>
    <li><a href="faq.shtml">FAQ</a></li>
    <li><a href="contact.shtml">CONTACT</a></li>
</ul></b></div>
</div>