<!doctype html>
<html>
<head>
    <title>Tectonics.js - 3d plate tectonics in your web browser</title>
    <!--If using any IE, don't even bother-->
    <!--[if IE]>
        <meta http-equiv="refresh" content="0;url=ie.html" />
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="text/css" href="../blog/icon6.png">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/bootstrap.custom.css">
    <link rel="stylesheet" href="../styles/main.css"/>
    <link rel="stylesheet" href="../styles/app.css"/>

    <script src="../libraries/vue.js"></script>
    <script src="../libraries/Chart.js"></script>
    <script src="../libraries/vue-charts.js"></script>
    <script src="../libraries/bootstrap.bundle.min.js"></script>
    <script src="../libraries/three.js/Three.js"></script>
    <script src="../libraries/three.js/CopyShader.js"></script>
    <script src="../libraries/three.js/EffectComposer.js"></script>
    <script src="../libraries/three.js/RenderPass.js"></script>
    <script src="../libraries/three.js/ShaderPass.js"></script>
    <script src="../libraries/random-0.26.js"></script>
    <script src="../libraries/base64-arraybuffer.js"></script>
    <script src="../postcompiled/Shaders.js"></script>
    <script src="../postcompiled/Rasters.js"></script>
    <script src="../noncompiled/Units.js"></script>
    <script src="../noncompiled/Interpolation.js"></script>
    <script src="../noncompiled/Logging.js"></script>
    <!-- NOTE: we include scripts from the academic layer because it deals exclusively with rasters -->
    <script src="../noncompiled/academics/SphericalGeometry.js"></script>
    <script src="../noncompiled/academics/Optics.js"></script>
    <script src="../noncompiled/academics/Thermodynamics.js"></script>
    <script src="../noncompiled/academics/FluidMechanics.js"></script>
    <script src="../noncompiled/academics/OrbitalMechanics.js"></script>
    <script src="../noncompiled/academics/Tectonophysics.js"></script>
    <script src="../noncompiled/academics/Hydrology.js"></script>
    <script src="../noncompiled/academics/PlantBiology.js"></script>
    <script src="../noncompiled/file-io/JsonSerializer.js"></script>
    <script src="../noncompiled/controls/ControllerMotions.js"></script>
    <script src="../noncompiled/controls/OrbitalControls.js"></script>
    <script src="../noncompiled/controls/OrbitalController.js"></script>
    <script src="../noncompiled/views/View.js"></script>
    <script src="../noncompiled/views/ViewState.js"></script>
    <script src="../noncompiled/views/ThreeJsState.js"></script>
    <script src="../noncompiled/views/scalar-rasters/ColorscaleRasterViewResources.js"></script>
    <script src="../noncompiled/views/vector-rasters/VectorRasterViewResources.js"></script>
</head>
<body>
<!-- three.js container -->
<div id="container"></div>
<!-- logo -->
<div id="header">
    <h3><a href="blog/">Tectonics Dev Tool</a></h3>
    <div id="navigation">
        open the dev console and call print(demo)
    </div>
</div>
<!-- info on screen display -->
<div id="controls" class="collapse collapsible" >
    <div class="view-menu btn-group-vertical">
        <button id="screenshot" v-if="isEnabled" type="button" class="btn btn-default btn-xs" v-on:click="capture" v-on:keyup.p="capture">
            <img src="icons/camera.svg" height="16em">
            Screenshot
            <span class="instructions">p</span>
        </button>
    </div>
</div>

<a id="hidden-downloader" href="dataUrl" download="filename"></a>

<div class="bottomleft">
</div>
<div class="bottomright">
    <div id="chart" v-if="isEnabled">
        <table class="stat">
            <tr>
                <td class="name">min</td>
                <td class="value">{{round(min)}}</td>
            </tr>
            <tr>
                <td class="name">max</td>
                <td class="value">{{round(max)}}</td>
            </tr>
        </table>

        <table class="stat">
            <tr>
                <td class="name">mean</td>
                <td class="value">{{round(mean)}}</td>
            </tr>
            <tr>
                <td class="name">median</td>
                <td class="value">{{round(median)}}</td>
            </tr>
        </table>
        <table class="stat">
            <tr>
                <td class="name">S.D.</td>
                <td class="value">{{round(stddev)}}</td>
            </tr>
        </table>
        <chartjs-line :width="200" :height="100" 
            :data="x" 
            :labels="y" 
            :bind="true"
            :pointbackgroundcolor="'rgba(255,255,255,0.2)'"
            :pointhoverbackgroundcolor="'rgba(255,255,255,0.2)'"
            :pointbordercolor="'rgba(255,255,255,0.2)'"
            :pointhoverbordercolor="'rgba(255,255,255,0.2)'"
            :bordercolor="'rgba(255,255,255,0.5)'"
            :backgroundcolor="'rgba(255,255,255,0.5)'" 
            :fill="true"
            :option="options">
        </chartjs-line>
    </div>
</div>

<script type="text/javascript">
    'use strict';
    
    
    if( !window.WebGLRenderingContext ){
        process.exit(1);
    }


    const container_tag = document.getElementById('container');
    const grid = new Grid(new THREE.IcosahedronGeometry(1, 5));
    const view_state = ViewState({
        model_view_type: 'ColorscaleRasterViewResources',
        builtin_colorscale: 1, // heatmap
        world_view_vertex_shader: window.VERTEX_SHADER,
        grid: grid,
        // view_matrix: Matrix4x4.from_translation(0,0,-1,),
    });
    const view = new View(view_state);
    view.addToDomElement(container_tag);
    const control_state = OrbitalControls.State(view_state.view_matrix);
    const controls = new OrbitalController(control_state);
    controls.addToDomElement(container_tag);

    var random = new Random();
    var demo = SphericalGeometry.get_random_surface_field(grid, random);

    function print(raster) {
        view.update(raster, view_state);
    }
    print(demo);

    // animation loop
    function animate() {
        // push to render queue and loop
        // - it has to be at the begining of the function
        // - to learn more: https://www.youtube.com/watch?v=8aGhZQkoFbQ
        requestAnimationFrame( animate );

        view.render();
    }

    function download(dataUrl, filename) {
        $('#hidden-downloader')
            .attr('href', dataUrl)
            .attr('download', filename)
            [0].click();
    }

    var screenshotVue = new Vue({
      el: '#screenshot',
      data: {
          isEnabled: false,
      },
      created: function() {
          this.isEnabled = window.WebGLRenderingContext;
      },
      methods: {
          capture(event) {
              var dataUrl = view.getScreenshotDataURL();
              var filename = 'raster.png';
              download(dataUrl, filename);
          }
      }
    });
    
    animate();
</script>
</body>
</html>
