---
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Tectonics.js is a 3d plate tectonics simulator written in pure javascript that allows you to create realistic fantasy worlds from your web browser. " />
    <meta name="keywords" content="Tectonics, Simulation, 3D, World Building, Terrain Generation, Procedural Generation, Plate Tectonics, Continental Drift, Modeling, Earth Science, Open Source, Software, Development, Developers, Projects, Downloads, Github, Carl Davidson" />
    <title>Tectonics.js: 3D Plate Tectonics in your web browser</title>
    <link href="blog.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.url }}/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.url }}/css/modern.css" rel="stylesheet" type="text/css"/>
</head>
	<body>
		<div class="topleft header">
			<h1><a href="{{ site.url }}">Tectonics.js</a></h1>
			<div class="navigation">
				<a href="{{ site.url }}">RUN</a>&nbsp;
				<a href="index.html">ABOUT</a>&nbsp;
				<a href="news.html">BLOG</a>&nbsp;
				<a href="contact.html">CONTACT</a>&nbsp;
				<a href="http://github.com/davidson16807/tectonics.js">CODE</a>&nbsp;
			</div>
			<!--a href="index.html" class="icon"><img src="icon2.png" width="170em" height="170em"/></a--> 
		</div>
		{% include ads.html %}
		<div class="article">
			{{ content }}
		</div>
	</body>
</html>