---
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Tectonics.js is a 3d plate tectonics simulator written in pure javascript that allows you to create realistic fantasy worlds from your web browser. " />
    <meta name="keywords" content="Tectonics, Simulation, 3D, World Building, Terrain Generation, Procedural Generation, Plate Tectonics, Continental Drift, Modeling, Earth Science, Open Source, Software, Development, Developers, Projects, Downloads, Github, Carl Davidson" />
    <title>Tectonics.js: 3D Plate Tectonics in your web browser</title>
    <link rel="icon" type="text/css" href="{{ site.url }}/blog/icon6.png">
    <link href="{{ site.url }}/styles/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.url }}/styles/bootstrap.custom.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.url }}/styles/prism.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.url }}/styles/main.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.url }}/styles/blog.css" rel="stylesheet" type="text/css"/>
    <script src="{{ site.url }}/styles/prism.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
</head>
    <body>
        <div id="header">
            <h1><a href="{{ site.url }}">Tectonics.js</a></h1>
            <div id="navigation">
                <a href="{{ site.url }}">RUN</a>&nbsp;
                <a href="{{ site.url }}/blog/index.html">ABOUT</a>&nbsp;
                <a href="{{ site.url }}/blog/news.html">BLOG</a>&nbsp;
                <a href="{{ site.url }}/blog/credits.html">CREDITS</a>&nbsp;
                <a href="http://github.com/davidson16807/tectonics.js">CODE</a>&nbsp;
            </div>
        </div>
        
        <img src="{{ site.url }}/blog/icon6.png" class="icon"/>

        <div id="article">
            {{ content }}
        </div>
    </body>
</html>