body {
	overflow	: hidden;
}

.controls {
	width:61%;
}
.controls select, 
.controls button, 
.controls input{
	color: black;
}

.time-menu {
	width: 160px;
	float: right;
}
.file-menu {
	float: right;
}
.view-menu {
	float: right;
}

.instructions {
	color: grey;
	font-style: italic;
	font-size: 61%;
	padding-left:1em;
}

#chart{
	width: 300px;
}
#chart canvas{
	padding: 1em;
}
#chart .stat {
	float: right;
	margin: 1em;
}
#chart .stat .name{
	margin: 1em;
	text-align: left;
}
#chart .stat .value{
	margin: 1em;
	text-align: right;
}
#hidden-downloader{
	display: none;
}
#drop-dialog {
	position	: absolute;
	top		    : 23%;
	left		: 23%;
	bottom		: 23%;
	right		: 23%;
	padding 	: 5.57%;
	text-align  : center;
	border-style: dashed;
}
.dialog {
	color: black;
	background-color: white;
	padding: 3.44%;
	border-radius: 1em;
}