body
{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

article h1, h2, h3, summary
{
    font-family: Garamond, Hoefler Text, Free Serif, serif;
}
article h1 a, h2 a, h3 a
{
    color: black;
    text-decoration: initial;
}
article h1, h2
{ 
    margin-left: -2.128%; 
} 
article h3, h4
{ 
    margin-left: -1.315%; 
}
article h5, h6   
{ 
    margin-left: -0.813%; 
} 
article h1 { font-size: 261%; margin-bottom: 0.813%; margin-top: 0.502%}
article h2 { font-size: 161%; }
article h3, summary
{ 
    font-size: 138%; 
    font-weight:bold;
}
article details
{
    margin-top: 1.315%    
}
article details p 
{ 
    margin-left: 1.315%; 
}

article img
{
    border-style: none;
    text-decoration: none;
}

article a {
    color: #0A968C;
    text-decoration: initial;
}
article a:hover {
    color: #0A5E68;
    text-decoration: initial;
}

.quotation
{
    display:list-item;
    list-style:none;
    font-style:italic;
    text-align:center;
}
.attribution
{
    display:list-item;
    list-style:none;
    font-style:normal;
    text-indent:61%
}
.icon
{
    position    : fixed;
    width       : 40%;
    bottom        : -1em;
    left        : -15%;
    z-index        : -1;
}

