/*
"main.css" contains all styling that is used in common throughout the website.
It includes styling for the application, the blog, and a fallback webpage for IE. 
It is a standalone stylesheet that can be optionally extended with other 
 more purpose built stylesheets like app.css, blog.css, or modern.css.
Since it must express styling for fallback webpages, 
 it does not assume the user has access to a modern web browser. 
For an equivalent stylesheet that does make use of modern web features, 
 see modern.css.
*/


@font-face
{
    font-family: Garogier;
    src: url(../fonts/Garogier_unhinted.otf);
}

body {
    padding        : 0;
    margin        : 0;

    color       : white;
    background-color: black;
    font-family : Helvetica, Arial, sans-serif;
    font-size    : 100%;
}

h1,h2,h3 {
    font-family: Garamond, Garogier, serif;
}
h1 {
    margin-bottom: 0.502%; 
    margin-top: 0.502%;
}

#header {
    font-weight:bold;
}
#header a {
    color : white;
    text-decoration    : none;
}
#header a:hover {
    text-decoration    : none;
}
#navigation
{
    margin-left: 23.6%;
    width:     161%;
    font-size: 0.7rem;
}
#navigation a:hover {
    color: grey;
    text-decoration    : none;
}
#article{
    color: black;
    background-color: white;
}