summary { 
    font-size: 138%; 
    font-weight:bold;
}
details {
    margin-top: 1.315%    
}
details p { 
    margin-left: 1.315%; 
}

.topleft {
    position    : fixed;
    top         : 1em;
    left        : 1em;
}
.topright {
    position    : fixed;
    top            : 1em;
    right        : 1em;
}
.bottomright {
    position    : fixed;
    bottom        : 1em;
    right        : 1em;
}
.bottomleft {
    position    : fixed;
    bottom        : 1em;
    left        : 1em;
}
.hcenter {
    width: 61.8%;
    margin-left: auto;
    margin-right: auto;
}
.hcenter h2{
    text-align:center;
}
.vcenter {
    position: absolute;
    top: 23.6%;
}
.hidden {
    display:none;
}

.header {
    
}
.header h1 {
    font-size: 3vw;
}
.navigation
{
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.5em;
}