/*
"modern.css" is a counterpart to main.css that makes use of modern web features.
It contains all styling that is used throughout the website, 
 with the exception of fallback webpages for IE.  
It is meant to be loaded with main.css and can be optionally extended with other 
 more purpose built stylesheets like app.css or blog.css.
*/

summary { 
    font-size: 138%; 
    font-weight:bold;
}
details {
    margin-top: 1.315%    
}
details p { 
    margin-left: 1.315%; 
}

.hcenter {
    width: 61.8%;
    margin-left: auto;
    margin-right: auto;
}
.hcenter h2{
    text-align:center;
}
.vcenter {
    position: absolute;
    top: 23.6%;
}
.hidden {
    display:none;
}

#header {
    /* top left corner */
    position    : fixed;
    top         : 1em;
    left        : 1em;
}
#article{
    position: absolute;
    top:   23%;
    right: 3.44%;
    width: 61.8%;
    padding: 3.44%;
    border-radius: 1em;
}

@media (max-width: 576px) {
    #header h1 {
        font-size: 1.5rem;
    }
}